<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bro_solutions" translate="label" sortOrder="100">
            <label>Bro Solutions</label>
        </tab>
        <section id="brosolution_quick_order" translate="label" type="text" sortOrder="1" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Quick Order</label>
            <tab>bro_solutions</tab>
            <resource>BroSolutions_QuickOrder::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label comment" type="select" sortOrder="1" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="search_results_limit" translate="label comment" type="text" sortOrder="2" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Search results limit</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="scheduled_automated_orders" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label><![CDATA[Scheduled & automated orders]]></label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="check_previous_order" translate="label comment" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Check Previous Order Status</label>
                    <comment>Do not create a new order if the previous order from this schedule is not paid or completed.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="offline_payment_methods" translate="label" type="multiselect" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label><![CDATA[Offline Payment Methods]]></label>
                    <source_model>BroSolutions\QuickOrder\Model\Config\Source\OfflinePaymentMethods</source_model>
                </field>
                <field id="offline_shipping_methods" translate="label" type="multiselect" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label><![CDATA[Offline Shipping Methods]]></label>
                    <source_model>BroSolutions\QuickOrder\Model\Config\Source\OfflineShippingMethods</source_model>
                </field>
                <field id="price_alert_enable" translate="label comment" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Price Alerts Cron</label>
                    <comment>Independently check for price changes and send email alerts.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price_alert_cron_expr" translate="label comment" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label><![CDATA[Price Alerts Cron Expression]]></label>
                    <comment><![CDATA[Default: 0 * * * * (Every hour)]]></comment>
                    <depends>
                        <field id="price_alert_enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
